<!doctype html>
<html>
    <head>
        <title>Graph Testing</title>
        <link rel="shortcut icon" href="#">
        
        <!-- <script type="text/javascript"
                src="{{ url_for('static',filename='vis.min.js')}}"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
                rel="stylesheet" type="text/css" />      -->
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js">
                        </script> -->
                        <script src="https://d3js.org/d3.v4.min.js"></script>
                        <script type="text/javascript"
                src ="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.5/svg.js"></script>
        <style>
             .smallCircle {
                 stroke: green;
                 stroke-width: 2px;
                 fill:chartreuse
             }
             .circle {
             stroke:#990000;
             stroke-width: 3px;
             fill: #ff4d4d
            }
            .circle.dragging {
                fill:red;
                stroke: brown;
            }
            .link {
                stroke: #f44242;
            }
           
            .mytext {
                text-anchor: middle;   
                fill:white;
                font: bold 13px sans-serif; 
            }
            #nav {
                width: 100%;
                height: 50px;
                background-color: blue;
            }
            #graph{
                width: 100%;
                height: 100%;
                border:solid 1px lightblue
            }
            html,body,svg{
                width: 100%;
                height: 100%;
            }

        </style>

    </head>
    <body>
        <div id ="nav"></div>
        <div id="graph">
            
        </div>
    
        <script>
                var width = window.innerWidth;
                var height = window.innerHeight;
                var radius = 45;
                /*
                * Setting up SVG 
                */
                var svg = d3.select('#graph')
                                .append('svg')
                                .attr("width",width)
                                .attr("height",height);
                              
                var selected = document.querySelector("svg");
                d3.select(selected).call(d3.drag()
                                    .container(selected)
                                    .subject(dragsubject)
                                    .on("start",dragstarted)
                                    .on("drag",dragged)
                                    .on("end",dragended));
                /**
                * Setting up ForceSimulation
                */
                
                var simulation = d3.forceSimulation()  
                    .force('center',d3.forceCenter(width / 2 , height / 2))
                    .force("charge", d3.forceManyBody().strength(-400))
                    .force("link", d3.forceLink().id(function(d) { return d.name; }))
                /**
                # Create nodes
                **/ 
                /*
                # Getting data from Back-end
                */
                nodes = JSON.parse('{{ data|tojson }}');
                var links=[{source:0,target:0}]

                var link = svg.append("g")
                            .selectAll("line")                            
                            .data(links)
                            .attr("stroke-width", 1.5)
                            
                            .enter().append('line').attr("stroke", "#f44242");
               
                var nodeElements = svg.append('g')
                           .selectAll('circle')
                           .data(nodes)
                           .enter().append('circle')
                            .attr("class","circle")
                            .attr("r",45)
                            .on("dblclick",dblclick);
                 nodeElements.append("title")
                    .text(function(d) { return d.name; });
               

                var textElements = svg.append('g')
                                      .selectAll('text')
                                      .data(nodes)
                                      .enter().append('text')
                                      .attr('class','mytext');              
                /**
                # Breaking the string to multiple lines
                */           
                var firstLine = svg.selectAll('g text').append('tspan')
                                .text(function(node) {return node.name.split(' ')[0];});
                var secondLine = firstLine.append('tspan')
                                .text(function(node) {
                                    if(node.name.split(' ').length > 2) {
                                            return node.name.split(' ')[1]+'...'
                                        }
                                    else {
                                        return node.name.split(' ')[1]
                                    }
                                });
                            
                
                         
                simulation.nodes(nodes)
                    .force("collide", d3.forceCollide(radius+100).iterations(4))
                    .force('link',d3.forceLink(links).distance(200))
                    .on("tick", () => {
                        link.attr("x1", function(d) { return d.source.x; })
                        .attr("y1", function(d) { return d.source.y; })
                        .attr("x2", function(d) { return d.target.x; })
                        .attr("y2", function(d) { return d.target.y; });
                    nodeElements
                        .attr("cx",function(node) {return node.x=Math.max(15, Math.min(width -15,node.x))})
                        .attr("cy",function(node) {return node.y= Math.max(50, Math.min(height -15,node.y))})
                    textElements
                        .attr("x", function(node) {return node.x})
                        .attr("y", function(node) {return node.y - 21});
                    firstLine
                        .attr("x",function(node) {return node.x;})
                        
                        .attr("dy","15");
                    secondLine
                        .attr("x",function(node) { return node.x})
                        .attr("dy","15");
                })

                function dragstarted(d) {
                if (!d3.event.active) simulation.alphaTarget(0.3).restart()
                d3.event.subject.fx = d3.event.subject.x;
                    d3.event.subject.fy = d3.event.subject.y;
                }
                function dragsubject() {
                    return simulation.find(d3.event.x,d3.event.y,radius);
                }
                function dragged(d) {
                    d3.event.subject.fx = d3.event.x;
                    d3.event.subject.fy = d3.event.y;
                }

                function dragended(d) {
                    d3.event.subject.fx = null;
                    d3.event.subject.fy = null;
                if (!d3.event.active) simulation.alphaTarget(0);
                
                }
                 function dblclick(){
                    SelectedValue= $(this)["0"].__data__;
                    name = SelectedValue.name;
                    index = SelectedValue.index;
                    $.post("/SubGraph",{data:JSON.stringify(name)}, function(data){
                        data = JSON.parse(data);
                        lengthOfNode = nodes.length;
                        for(var i = 0; i<data.length;i++ ){
                            nodes.push(data[i])
                            links.push({source:index,target:lengthOfNode+i})
                        }
                        restart()
                        console.log(nodes)
                        function restart(){
                            nodeElements = nodeElements.data(nodes, function(node) {return node.name});
                            nodeElements.exit().remove();
                            nodeElements = nodeElements.enter()
                                                        .append("circle")
                                                        .attr("r", radius)
                                                        .attr("class","smallCircle")
                                                        .merge(nodeElements);
                            
                            link = link.data(links, function(d) {return d.source + "-" + d.target;});
                            link.exit().remove();
                            link = link.enter()
                                        .append("line")
                                        .attr("stroke", "#f44242")
                                        .merge(link);

                            textElements = textElements.data(nodes, function(node) {return node.name});
                            textElements.exit().remove();
                            textElements = textElements.enter()
                                                       .append("text")
                                                       .attr("class","mytext")
                                                       .merge(textElements)
                             firstLine = svg.selectAll('g text').append('tspan')
                                .text(function(node) {return node.name.split(' ')[0];});
                             secondLine = firstLine.append('tspan')
                                .text(function(node) {
                                    if(node.name.split(' ').length > 2) {
                                            return node.name.split(' ')[1]+'...'
                                        }
                                    else {
                                        return node.name.split(' ')[1]
                                    }
                                });
                            simulation.nodes(nodes).force("collide", d3.forceCollide(radius).iterations(4))
                                    .on("tick", () => {
                                        link.attr("x1", function(d) { return d.source.x; })
                                        .attr("y1", function(d) { return d.source.y; })
                                        .attr("x2", function(d) { return d.target.x; })
                                        .attr("y2", function(d) { return d.target.y; });
                                    nodeElements
                                        .attr("cx",function(node) {return node.x=Math.max(15, Math.min(width -15,node.x))})
                                        .attr("cy",function(node) {return node.y= Math.max(50, Math.min(height -15,node.y))})
                                    textElements
                                        .attr("x", function(node) {return node.x})
                                        .attr("y", function(node) {return node.y - 21});
                                    firstLine
                                        .attr("x",function(node) {return node.x;})
                                        
                                        .attr("dy","15");
                                    secondLine
                                        .attr("x",function(node) { return node.x})
                                        .attr("dy","15");
                                })
                            simulation.restart();

                        }
                    });
                 }
                
        </script>    
    </body>
</html>